# 以下三项只在直接运行主文件时生效
# 主机名
uno_host = "127.0.0.1"
# 端口
uno_port = 5000
# 是否开启调试
uno_debug = False
# 登陆索引页密码
uno_password = ""
# 用于会话储存的密钥
uno_secret_key = ""

# 静态文件目录
uno_static_dir_name = "static"

# 站点名
uno_site_name = ""
# 版本号
uno_version = ""
# 是否使用CDN引入静态库
uno_use_cdn = True

# 根目录下文章目录名
uno_articles_dir_name = ""
# 文章目录下附件目录名字
uno_attachments_dir_name = ""
# 索引文件名
uno_index_file_name = ""

# 忽略索引的文件名列表
uno_ignore_file_list = [uno_index_file_name]
# 把文件加入忽略列表的URL参数名
uno_make_file_ignore_arg = ""
# 忽略索引的目录名
uno_ignore_dir_list = [".git"]

# 无标签时默认标签名
uno_default_tag = ""
# 私密标签，只有登陆后才能访问
uno_secret_tags = []

# 生成静态站点目录
uno_frozen_dir_name = "frozen_site"