# 以下三项只在直接运行主文件时生效
# 主机名
HOST = "127.0.0.1"
# 端口
PORT = 5000
# 是否开启调试
DEBUG = False

# 静态文件目录
STATIC_DIR_NAME = "static"

# 站点名
SITE_NAME = ""
# 版本号
VERSION = ""
# 是否使用CDN引入静态库
USE_CDN = True

# 文章目录绝对路径
ARTICLES_DIR_ABSPATH = ""
# 文章目录下的附件目录名
ATTACHMENTS_DIR_NAME = ""
# 索引文件名
INDEX_FILE_NAME = ""

# 忽略索引的文件名列表
IGNORE_FILE_LIST = [INDEX_FILE_NAME]
# 忽略索引的目录名
IGNORE_DIR_LIST = [".git"]

# 无标签时默认标签名
DEFAULT_TAG = ""

# 生成静态站点目录
FROZEN_DIR_NAME = "frozen_site"