{%- extends "frame.html" -%}
{%- set rss_suffix = "+{RSS}" -%}
{%- block title -%}
    {%- if tag_name -%}
        # {{ tag_name }} - {{ site_name }}{{ rss_suffix }}
    {%- else -%}
        {{ site_name }}{{ rss_suffix }}
    {%- endif -%}
{%- endblock -%}
{%- block extra_css_link -%}
    <link rel="stylesheet" type="text/css" href="{{ get_static_file_url("css/home.css") }}">
{%- endblock -%}
{%- block content -%}
    {%- if tag_name -%}
        <h1>
            {#- @formatter:off -#}
            <vue-hashtag-icon style="margin-right: 8px"></vue-hashtag-icon>{{ tag_name }}{{ rss_suffix }} ({{ rss_articles | length }})
            {#- @formatter:on -#}
        </h1>
        <vue-return-home url="{{ url_for('rss.home_page') }}"></vue-return-home>
    {%- else -%}
        <h1>{{ site_name }}{{ rss_suffix }}</h1>
    {%- endif -%}
    <div class="markdown-body">
        <ul class="home">
            {%- for rss_article in rss_articles -%}
                <li>
                    <i class="fas fa-angle-double-right"></i>
                    <vue-date date="{{ rss_article[index_date_key] }}"></vue-date>
                    <a href="{{ url_for('rss.tag_page', tag_name=rss_article[index_parent_key]) }}"><code>{{ rss_article[index_parent_key] }}</code></a>
                    <vue-home-li url="{{ rss_article[index_url_key] }}"
                                 name="{{ rss_article[index_title_key] }}">
                    </vue-home-li>
                    {%- for tag in rss_article[index_tags_key] | dictsort(by="value") -%}
                        <vue-tag tags_url="{{ url_for('rss.tags_page') }}"
                                 url="{{ url_for('rss.tag_page', tag_name=tag[0]) }}"
                                 name="{{ tag[1] }}"{{ " is_first" if loop.index == 1 else "" }}></vue-tag>
                    {%- endfor -%}
                </li>
            {%- endfor -%}
        </ul>
    </div>
{%- endblock -%}
