#article-content {
    width: 100%;
    margin-bottom: 8px;
    padding: 16px;
    box-sizing: border-box;
    resize: none;
    background-color: transparent;
}

#message, .button-group {
    float: right
}

#message {
    display: none;
    margin-right: 20px;
    margin-top: 6px;
    color: green;
}