#data {
    width: 100%;
    margin-bottom: 5px;
    padding: 0;
}

.button-group, #message {
    float: right
}

#message {
    display: none;
    margin-right: 20px;
    margin-top: 6px;
    color: green;
}