@media screen and (max-width: 600px) {
    .date {
        float: none;
    }
}

@media screen and (max-width: 425px) {
    .date {
        display: none;
    }
}

.markdown-body ul {
    padding-left: 1px;
    list-style-type: none
}

.markdown-body ul li {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.markdown-body li > a {
    color: #24292e;
}

.markdown-body li > a:hover {
    color: #7B7B7B;
}