.search-input-group {
    display: inline;
    position: relative;
    top: -10px;
}

.search-input-group input {
    height: 22px;
    width: 100px;
    padding-left: 5px;
    padding-right: 5px;
    outline: none;
}

.edit-group {
    position: relative;
    display: inline-block;
    float: right;
}

.edit-group a, .edit-group button {
    padding: 3px 5px;
    color: #24292e;
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
}

.tabcontent .edit-input {
    outline: none;
    font-size: 12px;
    position: relative;
    top: -2px;
}

.tabcontent .edit-date {
    width: 115px;
    height: 22px;
}

.tabcontent .edit-tag {
    width: 65px;
    height: 24px;
}

.tabcontent .check {
    width: 16px;
}

#body {
    max-width: 9999px;
    margin: 0;
}

.markdown-body {
    font-size: 12px;
}

.tab {
    overflow: hidden;
    border: 1px solid #cccccc;
    background-color: #f1f1f1;
}

.tab button {
    font-size: 12px;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s
}

.tab button:hover {
    background-color: #dddddd;
}

.tab button.active {
    background-color: #cccccc;
}

.tabcontent {
    display: none;
}

.tabcontent {
    animation: fadeEffect 1s;
}

.tabcontent table {
    display: table;
}

.tabcontent table thead {
    text-align: left;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}