#idS, #titleS, #tagS, #dateS {
    height: 22px;
    width: 100px;
    padding-left: 5px;
    padding-right: 5px;
}

#search, #clean {
    cursor: pointer;
    height: 30px
}

#body {
    max-width: 9999px;
    margin: 0;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
}

.tabcontent {
    animation: fadeEffect 1s;
}

.tabcontent table {
    display: table;
}

.tabcontent table thead {
    text-align: left;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}