.markdown-body {
    margin-top: 20px;
    line-height: 2;
    text-align: justify;
    color: #24292e;
}

.markdown-body p {
    margin-bottom: 10px;
}

.markdown-body dl dt {
    font-style: normal;
    font-weight: normal;
}

.markdown-body dl dd {
    color: #6a737d;
    font-size: 90%;
    padding: 0;
}

.markdown-body dl dd:before {
    content: ">> ";
}

.markdown-body details {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    margin: 1em 0;
    padding: 0 1.2rem;
    overflow: auto;
    border-radius: 3px;
}

.markdown-body details.note > summary {
    background-color: rgba(68, 138, 255, 0.3);
}

.markdown-body details.danger > summary {
    background-color: rgba(255, 23, 68, 0.3);
}

.markdown-body details.success > summary {
    background-color: rgba(0, 200, 83, 0.3);
}

.markdown-body details.warning > summary {
    background-color: rgba(255, 145, 0, 0.3);
}

.markdown-body details > summary {
    margin: 0 -1.2rem;
    padding: 0.2rem 1.2rem;
    background-color: rgba(27, 31, 35, 0.1);
    outline: none;
    cursor: pointer;
}

.markdown-body details > p {
    margin-top: 10px;
}

.markdown-body img {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    background-color: transparent;
}

.markdown-body mark {
    border-radius: 0.2rem;
    background-color: rgba(255, 235, 59, 0.5);
    box-shadow: 0.25em 0 0 rgba(255, 235, 59, 0.5), -0.25em 0 0 rgba(255, 235, 59, 0.5);
}

.markdown-body a:hover {
    text-decoration: none;
}

.markdown-body .gemoji {
    box-shadow: none;
}

.markdown-body, .markdown-body code, .markdown-body pre {
    font-family: 'Source Code Pro', SimSun, sans-serif;
}

.markdown-body .toc:before {
    color: #0366d6;
}

.markdown-body .star {
    font-size: x-small;
}

.markdown-body .steam-widget {
    border: none;
    height: 200px;
    width: 100%;
}

.markdown-body .kindle-widget {
    max-width: 100%;
    width: 336px;
    height: 550px;
}

.markdown-body .highlight pre, .markdown-body pre {
    background-color: rgba(27, 31, 35, 0.1);
}

/* Critic Markup Start */
.markdown-body .critic {
    font-family: inherit;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    text-decoration: none;
}

.markdown-body .critic:before,
.markdown-body .critic:after {
    content: '\00a0';
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    font-size: initial;
}

.markdown-body .block:before,
.markdown-body .block:after {
    content: '';
}

.markdown-body mark.critic {
    border-color: #ff8600;
    background: #ffddaa;
}

.markdown-body ins.critic {
    text-decoration: underline;
    padding: 0;
    border-color: #00bb00;
    background: #ddffdd;
}

.markdown-body del.critic {
    text-decoration: line-through;
    border-color: #dd0000;
    background: #ffdddd;
}

.markdown-body ins.break,
.markdown-body del.break {
    font-size: 0;
    border: none;
}

.markdown-body ins.break:before,
.markdown-body del.break:before {
    content: '\00a0\b6\00a0';
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.markdown-body ins.after,
.markdown-body del.after {
    content: '';
}

.markdown-body ins.break:before {
    color: #00bb00;
    border: 1px solid #00bb00;
    background: #ddffdd;
}

.markdown-body del.break:before {
    color: #bb0000;
    border: 1px solid #bb0000;
    background: #ffdddd;
}

.markdown-body span.critic {
    background: #ddddff;
    border: 0;
    border-top: 1px solid #0000bb;
    border-bottom: 1px solid #0000bb;
}

.markdown-body span.critic:before,
.markdown-body span.critic:after {
    font-size: inherit;
    background: #ddddff;
    border: 1px solid #0000bb;
}

.markdown-body span.critic:before {
    content: '\00a0\bb';
    border-right: none;
    -webkit-border-top-left-radius: 3px;
    -moz-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.markdown-body span.critic:after {
    content: '\ab\00a0';
    border-left: none;
    -webkit-border-top-right-radius: 3px;
    -moz-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.markdown-body .block {
    display: block;
    padding: .02em;
}

#content > div > del > ul, #content > div > ins.critic.block > ul {
    margin-bottom: 0;
}

/* Critic Markup End */

/* ProgressBar Start */
.progress-label {
    position: absolute;
    text-align: center;
    font-weight: 700;
    width: 100%;
    margin: 0;
    line-height: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
}

.progress-bar {
    height: 1.2rem;
    float: left;
    background-color: #2979ff;
}

.progress {
    display: block;
    width: 100%;
    margin: 0.5rem 0;
    height: 1.2rem;
    background-color: #eeeeee;
    position: relative;
}

.progress.thin {
    margin-top: 0.9rem;
    height: 0.4rem;
}

.progress.thin .progress-label {
    margin-top: -0.4rem;
}

.progress.thin .progress-bar {
    height: 0.4rem;
}

.progress-100plus .progress-bar {
    background-color: #00e676;
}

.progress-80plus .progress-bar {
    background-color: #fbc02d;
}

.progress-60plus .progress-bar {
    background-color: #ff9100;
}

.progress-40plus .progress-bar {
    background-color: #ff5252;
}

.progress-20plus .progress-bar {
    background-color: #ff1744;
}

.progress-0plus .progress-bar {
    background-color: #f50057;
}

/* ProgressBar End */

/*Highlight Start*/
table.highlighttable td {
    background-color: #f6f8fa;
    padding: 0;
}

#content > div > table > tbody > tr > td.code > div {
    margin-bottom: 0;
}

#content > div > table > tbody > tr > td > div > pre {
    margin-bottom: 0;
}

/*Highlight End*/