/*
    配色方案：
    - #448ef6：蓝
    - #24292e：黑
    - #6a737d：灰1
    - #8e98a2：灰2
    - #dfe2e5：灰3
    - #f1f1f1：灰4
*/

*, #content .button {
    font-family: 'Source Sans Pro', SimSun, sans-serif;
}

body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

a, a i, li i, .tag > i {
    color: #24292e;
    text-decoration: none;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s
}

a:hover {
    color: #8e98a2;
    text-decoration: none;
}

a:hover i, li:hover > i:first-child {
    color: #0366d6;
}

#body {
    max-width: 860px;
    margin: 0 auto;
}

#content {
    opacity: 0;
    position: relative;
    z-index: 5;
    float: left;
    box-sizing: border-box;
    width: 100%;
    padding: 0 25px 25px;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s
}

#content hr {
    height: 0.25em;
    padding: 0;
    margin: 16px 0;
    background-color: #dfe2e5;
    border: 0;
    overflow: hidden;
    box-sizing: content-box;
}

#to-top {
    opacity: 0;
    position: fixed;
    padding: 10px 5px 10px 10px;
    bottom: 10px;
    right: 0;
    z-index: 10;
}

#to-top, #to-top i {
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
}

#to-top:hover i {
    color: #0366d6;
}

.center {
    text-align: center;
}

.date {
    float: right;
    text-align: right;
    display: inline;
    color: #8e98a2;
}

.update {
    display: inline-block;
    padding: 8px 0 0 8px;
    background-color: #f1f1f1;
}

.tag {
    display: inline-block;
    color: #8e98a2;
    font-size: 12px;
    margin-right: 8px;
}

.tag a {
    color: #8e98a2;
}

.tag a:hover {
    color: #24292e;
    text-decoration: none;
}

.article-hl {
    font-weight: bold;
}