server {
    listen 80;
    server_name localhost;
    charset utf-8;
    client_max_body_size 75M;
    gzip on;

    location / {
        try_files $uri @uno;
    }

    location @uno {
        include uwsgi_params;
        uwsgi_pass unix:/YOUR_SOCK_FILE_PATH;
    }

    location /static {
        root /YOUR_PROJECT_PATH;
    }
}
