{%- extends "frame.html" -%}
{%- block title -%}
    {{ title }}
{%- endblock -%}
{%- block extra_js_link -%}
    {%- for js_url in js_urls -%}
        <script type="text/javascript" src="{{ js_url }}"></script>
    {%- endfor -%}
{%- endblock -%}
{%- block extra_css_link -%}
    {%- for css_url in css_urls -%}
        <link rel="stylesheet" type="text/css" href="{{ css_url }}">
    {%- endfor -%}
{%- endblock -%}
{%- block content -%}
    <h1>{{ title }}</h1>
    <vue-return-home></vue-return-home>
    {%- if not notags -%}
        <i class="fas fa-tags fa-xs"></i>
        {%- for key in tags | sort -%}
            <div class="tag">
                <a href="{{ url_for('main.tag_page', tag_hash=key) }}">
                    <i style="margin-right: 3px" class="fas fa-hashtag"></i>{{ tags[key] }}
                </a>
            </div>
        {%- endfor -%}
    {%- endif -%}
    <div class="date">{{ date }}</div>
    <hr>
    <div class="markdown-body">
        {{ data | safe }}
    </div>
{%- endblock -%}
