{%- extends "frame.html" -%}
{%- block title -%}
    {{ title }} - {{ site_name }}
{%- endblock -%}
{%- block extra_js_link -%}
    {%- for js_url in js_urls -%}
        <script type="text/javascript" src="{{ js_url }}"></script>
    {%- endfor -%}
    {%- if not is_freeze -%}
        <script>const edit_url = `{{ url_for("edit.article") }}?item_url=${window.location.pathname}`</script>
    {%- endif -%}
{%- endblock -%}
{%- block extra_css_link -%}
    {%- for css_url in css_urls -%}
        <link rel="stylesheet" type="text/css" href="{{ css_url }}">
    {%- endfor -%}
{%- endblock -%}
{%- block content -%}
    <h1>{{ title }}</h1>
    <vue-return-home></vue-return-home>
    <vue-date date="{{ date }}"></vue-date>
    {%- if not notags -%}
        {%- for tag in tags | dictsort(by="value") -%}
            <vue-tag tags_url="{{ url_for('main.tags_page') }}" url="{{ url_for('main.tag_page', tag_hash=tag[0]) }}"
                     name="{{ tag[1] }}"{{ " is_first" if loop.index == 1 else "" }}></vue-tag>
        {%- endfor -%}
    {%- endif -%}
    {%- if not is_freeze -%}
        <vue-tag v-bind:url="edit_url" name="Edit"></vue-tag>
    {%- endif -%}
    <hr>
    <div class="markdown-body">{{ data | safe }}</div>
{%- endblock -%}
