{% extends "frame.html" %}
{% block title %}
    {{ name }}
{% endblock %}
{% block content %}
    <h1>{{ name }}</h1>
    <hr>
    <div class="markdown-body">
        {{ content | safe }}
    {% if show_tags %}
        <hr>
        <div class="button-group">
            <button class="button primary danger icon favorite">TAGS</button>
        {% for tag in tags %}
            <a href="{{ tag[1] }}" class="button">{{ tag[0] }}</a>
        {% endfor %}
        </div>
    {% endif %}
    </div>
{% endblock %}
