{%- extends "frame.html" -%}
{%- block title -%}
    * {{ title }} - {{ site_name }}
{%- endblock -%}
{%- block extra_js_link -%}
    <script type="text/javascript" src="{{ get_static_file_url("js/edit.js") }}"></script>
    <script>let url = "{{ url }}"</script>
{%- endblock -%}
{%- block extra_css_link -%}
    <link rel="stylesheet" type="text/css" href="{{ get_static_file_url("css/edit.css") }}">
{%- endblock -%}
{%- block content -%}
    <h1>{{ title }}</h1>
    <vue-return-home url="{{ url_for('main.index_page') }}" name="INDEX"></vue-return-home>
    <hr>
    <label><textarea id="article-content" rows="35" spellcheck="false" autofocus>{{ data }}</textarea></label>
    <div class="button-group">
        <button id="clean" class="button danger big">Clean</button>
        <button id="select" class="button big">Select</button>
        <button id="view" class="button big">View</button>
        <button id="save" class="button big">Save</button>
    </div>
    <div id="message">Success!</div>
{%- endblock -%}
