{%- extends "frame.html" -%}
{%- block title -%}
    {%- if tag_name -%}
        # {{ tag_name }} - {{ site_name }}
    {%- else -%}
        {{ site_name }}
    {%- endif -%}
{%- endblock -%}
{%- block extra_js_link -%}
    <script type="text/javascript" src="{{ get_static_file_url("js/home.js") }}"></script>
{%- endblock -%}
{%- block extra_css_link -%}
    <link rel="stylesheet" type="text/css" href="{{ get_static_file_url("css/home.css") }}">
{%- endblock -%}
{%- block content -%}
    {%- if tag_name -%}
        <h1>
            {#- @formatter:off -#}
            <vue-hashtag-icon style="margin-right: 8px"></vue-hashtag-icon>{{ tag_name }} ({{ fixed_articles | length }})
            {#- @formatter:on -#}
        </h1>
        <vue-return-home></vue-return-home>
    {%- else -%}
        <h1>{{ site_name }}</h1>
    {%- endif -%}
    <div class="markdown-body">
        <ul class="home">
            {%- for fixed_article in fixed_articles -%}
                <li class="page-{{ (loop.index - 1) // page_size + 1 }}">
                    <i class="fas fa-angle-double-right"></i>
                    <vue-date date="{{ fixed_article[index_date_key] }}"></vue-date>
                    <vue-home-li url="{{ fixed_article[index_url_key] }}"
                                 name="{{ fixed_article[index_title_key].split(".")[0] }}"{{ " is_highlight" if fixed_article[index_highlight_key] else "" }}>
                    </vue-home-li>
                    {%- if not fixed_article[index_notags_key] -%}
                        {%- for tag in fixed_article[index_tags_key] | dictsort(by="value") -%}
                            <vue-tag tags_url="{{ url_for('main.tags_page') }}"
                                     url="{{ url_for('main.tag_page', tag_hash=tag[0]) }}"
                                     name="{{ tag[1] }}"{{ " is_first" if loop.index == 1 else "" }}></vue-tag>
                        {%- endfor -%}
                    {%- endif -%}
                    {%- if not is_freeze -%}
                        {%- if fixed_article[index_fixed_key] -%}
                            <vue-tag url="javascript:void(0)" name="Fixed"></vue-tag>
                        {%- endif -%}
                        <vue-tag url="{{ url_for("edit.article") }}?item_url={{ fixed_article[index_url_key] }}"
                                 name="Edit"></vue-tag>
                    {%- endif -%}
                </li>
            {%- endfor -%}
        </ul>
        {%- set page_count = (fixed_articles | length / page_size) | round(0, 'ceil') | int -%}
        {%- if page_count > 1 -%}
            <div class="button-group">
                <button class="button"><i class="fas fa-arrow-left"></i></button>
                {%- for i in range(1, page_count + 1) -%}
                    <button class="button">{{ i }}</button>
                {%- endfor -%}
                <button class="button"><i class="fas fa-arrow-right"></i></button>
            </div>
        {%- endif -%}
    </div>
{%- endblock -%}
