{%- extends "frame.html" -%}
{%- block title -%}
    {%- if tag_name -%}
        {{ tag_name }}
    {%- else -%}
        {{ site_name }}
    {%- endif -%}
{%- endblock -%}
{%- block extra_style -%}
    <style>
        .markdown-body ul {
            padding-left: 1px;
            list-style-type: none
        }

        .markdown-body ul li {
            display: inline-block;
            width: 100%
        }

        .markdown-body li > a {
            color: #24292e;
        }

        .markdown-body li > a:hover {
            color: grey;
        }
    </style>
{%- endblock -%}
{%- block content -%}
    {%- if tag_name -%}
        <vue-return-home></vue-return-home>
    {%- endif -%}
    <div class="markdown-body">
        <ul>
            {%- for fixed_article in fixed_articles -%}
                <li>
                    <vue-home-li-icon></vue-home-li-icon>
                    <vue-home-li url="{{ fixed_article[index_url_key] }}"
                                 name="{{ fixed_article[index_title_key].split(".")[0] }}"
                                 highlight="{{ "1" if fixed_article[index_highlight_key] else "" }}">
                    </vue-home-li>
                    {%- if not fixed_article[index_notags_key] -%}
                        <vue-tag-icon></vue-tag-icon>
                        {% for key in fixed_article[index_tags_key] | sort -%}
                            <vue-tag url="{{ url_for('main.tag_page', tag_hash=key) }}"
                                     name="{{ fixed_article[index_tags_key][key] }}">
                            </vue-tag>
                        {%- endfor -%}
                    {%- endif -%}
                    <vue-date date="{{ fixed_article[index_date_key] }}"></vue-date>
                </li>
            {%- endfor -%}
        </ul>
    </div>
{%- endblock -%}
