{% extends "frame.html" %}
{% block title %}
    {{ title }}
{% endblock %}
{% block extra_style %}
    #idS, #titleS, #tagS, #dateS {
    height: 22px;
    width: 100px;
    padding-left: 5px;
    padding-right: 5px;
    }

    #body {
    max-width: 9999px;
    margin: 0;
    }

    .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    }

    .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    }

    .tab button:hover {
    background-color: #ddd;
    }

    .tab button.active {
    background-color: #ccc;
    }

    .tabcontent {
    display: none;
    }

    .tabcontent {
    animation: fadeEffect 1s;
    }

    @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
    }
{% endblock %}
{% block content %}
    <h1>{{ title }}</h1>
    <a href="{{ url_for('main.index') }}"><i class="fas fa-angle-double-left"></i> HOME</a>
    <hr>
    <input id="idS" placeholder="Search ID" onkeydown="if(event.keyCode===13){search.click()}">
    <input id="titleS" placeholder="Search Title" onkeydown="if(event.keyCode===13){search.click()}">
    <input id="tagS" placeholder="Search Tag" onkeydown="if(event.keyCode===13){search.click()}">
    <input id="dateS" placeholder="Search Date" onkeydown="if(event.keyCode===13){search.click()}">
    <button id="search"><i class="fa fa-search"></i> Search</button>
    <button id="clean"><i class="fa fa-trash"></i> Clean</button>
    <script>
        $(document).ready(function () {
            function GetRequest() {
                const url = location.search;
                const request = {};
                if (url.indexOf("?") !== -1) {
                    const str = url.substr(1);
                    const strList = str.split("&");
                    for (let i = 0; i < strList.length; i++) {
                        request[strList[i].split("=")[0]] = decodeURI(strList[i].split("=")[1]);
                    }
                }
                return request;
            }

            const id = $("#idS");
            const title = $("#titleS");
            const tag = $("#tagS");
            const date = $("#dateS");

            const request = GetRequest();
            id.val(request["i"]);
            title.val(request["n"]);
            tag.val(request["t"]);
            date.val(request["d"]);

            $("#search").click(function () {
                const idVal = $.trim(id.val());
                const nameVal = $.trim(title.val());
                const tagVal = $.trim(tag.val());
                const dateVal = $.trim(date.val());
                let href = "";
                if (idVal !== "") {
                    href += "&i=" + idVal
                }
                if (nameVal !== "") {
                    href += "&n=" + nameVal
                }
                if (tagVal !== "") {
                    href += "&t=" + tagVal
                }
                if (dateVal !== "") {
                    href += "&d=" + dateVal
                }
                if (href !== "") {
                    href = "?" + href.substr(1)
                }
                window.location.href = window.location.pathname + href
            });

            $("#clean").click(function () {
                id.val("");
                title.val("");
                tag.val("");
                date.val("");
            });

            document.getElementById("defaultOpen").click();
        });

        function openCity(evt, cityName) {
            let i, tabcontent, tablinks;

            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
    <div class="markdown-body">
        {% set parents = data[0] %}
        {% set attachments = data[1] %}
        <div class="tab">
            {% for parent in parents %}
                {% set parent = parent if parent else article_dir %}
                <button class="tablinks" onclick="openCity(event, '{{ parent }}')"
                        {% if loop.index == 1 %}id="defaultOpen"{% endif %}>
                    {{ parent }}
                </button>
            {% endfor %}
            {% if attachments %}
                <button class="tablinks" onclick="openCity(event, '{{ attach_dir }}')" id="defaultOpen">
                    {{ attach_dir }}
                </button>
            {% endif %}
        </div>
        {% for parent in parents %}
            <div id="{{ parent if parent else article_dir }}" class="tabcontent">
                <table>
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th>Title</th>
                        <th>Date</th>
                        <th>Tags</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for article in parents[parent] %}
                        <tr>
                            <td align="right">{{ article[index_id_key] }}</td>
                            <td><a href="{{ article[index_url_key] }}">{{ article[index_title_key] }}</a></td>
                            <td>{{ article[index_date_key] }}</td>
                            <td>
                                {% for tag in article[index_tags_key] | sort %}
                                    <a href="{{ article[index_tags_key][tag] }}">
                                        <i style="margin-right: 3px" class="fas fa-hashtag"></i>{{ tag }}
                                    </a>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
        {% if attachments %}
            <div id="{{ attach_dir }}" class="tabcontent">
                <table>
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th>Title</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for attachment in attachments %}
                        <tr>
                            <td align="right">{{ attachment[index_id_key] }}</td>
                            <td>
                                <a href="{{ attachment[index_url_key] }}">{{ attachment[index_title_key] }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}
