{%- extends "frame.html" -%}
{%- block title -%}
    Login
{%- endblock -%}
{%- block extra_js_link -%}
    <script type="text/javascript" src="{{ get_static_file_url("js/login.js") }}"></script>
{%- endblock -%}
{%- block content -%}
    <vue-return-home></vue-return-home>
    <div class="center">
        <h1 {%- if error -%}style="color: red;"{%- endif -%}>* PASSWORD *</h1>
        <form method="post">
            <label>
                <input type="password" name="password" autofocus="autofocus"/>
            </label>
            <label>
                <input name="referrer" value="{{ referrer }}" style="display: none">
            </label>
            <button type="submit" style="display: none">Submit</button>
        </form>
    </div>
{%- endblock -%}
