{%- extends "frame.html" -%}
{%- block title -%}
    ## {{ title }} - {{ site_name }}
{%- endblock -%}
{%- block extra_css_link -%}
    <link rel="stylesheet" type="text/css" href="{{ get_static_file_url("css/tags.css") }}">
{%- endblock -%}
{%- block content -%}
    <h1>
        {#- @formatter:off -#}
        <vue-tag-icon style="margin-right: 8px"></vue-tag-icon>{{ title }}
        {#- @formatter:on -#}
    </h1>
    <vue-return-home></vue-return-home>
    <div class="markdown-body">{{ data | safe }}</div>
{%- endblock -%}
